*{
    margin: 0;
    font-family: work sans;

}
/* banner area */
.banner{
    background-image: url("../new-year-new-me/images/hope.jpg");
    
    background-size: cover;
    background-position: center;
    padding: 50px 100px;
    
}
.banner-title{
    font-weight: 800;
font-size: 55px;
text-align: left;
color: #0bcff6df;

}
.banner-description{
    font-weight: 700;
    font-size: 18px;
    color: #556b2f;

}
.btn-primary{
    margin-top: 15px;
    font-weight: 6000;
    font-size: 20px;
    padding: 25px 20px;
    border: none;
    border-radius: 5px;
    color: 
    #005FAC;
    background-color: #ff7f50;
}
/*main section*/

.failur-text{
    display: flex;
    gap: 90px;
    
    
}
.main-description{
    padding-top: 300px;
   
}
.failur-title{
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    color:#151414 ;
    margin-bottom: 20px;
    
    
}
.failur-description{
    
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 15px;
    color: #444343;
}
.list-item{
    
    font-weight: 400;
    font-size: 16px;
    color: #8b0000;
    list-style: none;
   
}
/* Plan to Do */
.my-plans{
    margin: 130px;
}
.plan-title{
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    
}
.plan-container{
    display: flex;
    margin-left: 350px;
    margin-right: 285px;
    justify-content: space-between;
    padding-top: 50px;
}
.plan{
    text-align: center;
    
}
/* Hobby Section */
.my-hobby{
    margin: 130px;
    
}
.hobby-container{
    display: flex;
    margin-left: 350px;
    margin-right: 285px;
    justify-content: space-between;
    padding-top: 50px;
    }

.hobby-title{
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    }
   
    plan{
        text-align: center;
    } 
    /*textarea*/
    .box{
        align:center
    
    }
  .reactangle{
    font-weight: 800;
    font-size: 35px;
    width: 550px;
    height: 175px;
    
    margin-left: 250px;
    background-image:url("../new-year-new-me/images/watch.png");
    background-repeat: no-repeat;
    border-radius: 8px;
    padding: 60px 570px 59px 111px;
   
    
  }
  .btn-second{
    margin-top: 15px;
    font-weight: 600;
    font-size: 20px;
    padding: 25px 20px;
    border: none;
    border-radius: 5px;
    color: 
    #005FAC;
    background-color: #eda324;
  }
/*footer*/
.footer{
    display: flex;
    justify-content: space-between;
    background-color: #151414;

}
.future{
    font-weight: 700;
    
    padding-left: 350px;
    padding-right: 150px;
    
    color: #f0f8ff;
    

}
.subscribe{
    font-weight: 700;
    
   padding-left: 100px;
   padding-right: 75px;
    color: #f0f8ff;

}
